* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background:url('../../recursos/header.jpg') left top no-repeat #F0EBE5 ;
    z-index: -1;
    background-size: cover;
    height: 100vh;
}

.header1 {
    display: flex;
    justify-content:space-between;
    top:0;
    width:100%;
}

.header2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav{
    display: none;
    position:fixed;
}

.nav-span{
  width: 97px;
  height: 23px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0c474b;
}

.hamburguer {
    width: 24px;
    height: 24px;
    margin: 36px 43px 98px 33px;
    object-fit: contain;
    position:fixed;

}
.hamburguer-container {
    margin-right: 43px;
}

.logo {
  height: 96px;
  width: 213px;
  margin-top: 19px;
}

.logo-container {
  width: 213px;
  height: 96px;
  margin: 0 101px 62px 43px;
  margin-left: 50vh;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    padding: 8px 20px;
    background-color: rgb(229,9,20);
    color: white;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.Title1 {
  height: 48px;
  margin: 62px 45px 9px 55px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color:#0c474b;
}

.boton-comprar {
    width: 176px;
    height: 48px;
    display: flex;
    flex-direction: center;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    align-items: center;
    background-color: #0c474b;
    top: 250px;
}  

.span-comprar {
    width: 128px;
    height: 24px;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;  
    text-align: center;
}

.modulo2 {
  padding: 41px 47px 18px 45px;
  background-color:#F0EBE5;
}

.grid {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        text-align: center;
        gap: 10px;
    }

.grid3 {
    display: grid;
    grid-template-columns: 1fr ;
    text-align: center;
    gap: 10px;
}
.grid4{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%; 
    gap: 10px;
}

.imgmod4{
  height: 100%;
}

.gridContenedor4{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    width: 100%; 
    gap: 20px;
}

.grid__item{
  grid-column: span 2;
}

.grid3_item{
  grid-column: span 1;
}

.grid__header{
  grid-column: span 2;
}

.grid4__item{
  text-align: center;
}

.grid__item2 {
  margin-top: 30px;
}

.span0mod2{
  width: 322px;
  height: 113px;
  margin: 0 0 37px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color:#0c474b;
}
.gridtitulo{
  width: 208px;
  height: 48px;
  margin: 9px 15px 9px 25px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0c474b;
}
.gridtexto{
  width: 208px;
  height: 96px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0c474b;
 
}
.modulo3 {
  padding: 46px 51px 51px 50px;
  background-color:#FF975A;
}
.gridtitulo2{
  width: 799px;
  height: 112px;
  margin: 120px 0 23px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;

}
.gridtexto2{
  width: 375px;
  height: 31px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.gridcomprarahora{
  width: 127px;
  height: 24px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.modulo4{
  background-color:#F0EBE5;
}
.contenedor4{
  align-items: center;
}

.gridtitulo4{
   width: 430px;
  height: 88px;
  margin: 0 0 34px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0c474b;
}
.gridtexto4{
  width: 400px;
  height: 96px;
  margin: 62px 15px 12px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0c474b;
}
.button4{
  width: 176px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 34px 127px 0;
  padding: 12px 24px;
  background-color: #0c474b;
}

.gridcomprarahora4{
  width: 128px;
  height: 24px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.footer{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  background-color: #0c474b;
}

.footer-links{
 display: flex;
 margin-top: 20px;
 margin-left: 20px;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  background-color: #0c474b; 
}

.espacioheader{
  margin-top: 20px;

}

.espaciofooter2{
  margin-top:70px;
  
}

.titulofooter{
  width: 208px;
  height: 23px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b6c8c9;
  margin-bottom: 10px;
}
.linkfooter{
  width: 208px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b6c8c9;
}
.iconofooter{
  width: 208px;
  
}
.arrowtop{
  width: 20px;
  color:#fff;
}

/* media queries */



@media screen and (min-width: 700px) {

  .grid {
    grid-template-columns: 33% 33% 33%;
  }

  .grid__header{
    grid-column: span 3;
  }

  .grid__item{
    grid-column: span 1;
  }
  .footer{
    justify-content: space-between;
    flex-direction:row;
  }

  /*borrar*/
  .hamburguer{
    display: none;
  }

  .nav{
    display: flex;
    justify-content:space-around;
  }


  .header1{
    align-items: center;
    margin-left: 20px;
  }

}

@media screen and (min-width: 850px) {
  .hamburguer{
    display: none;
  }

  .nav{
    display: flex;
    justify-content:flex-start;
  }

  .grid4{
    grid-template-columns: 50% 50%;
  }

  .modulo4{
    padding: 0px 0px 0px 0px;
  }
}
